* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.navbar
{
    background-attachment: fixed;
}
.HEROSECTION {
  width: 100%;
  height: 500px;
}
.heroIMAGE img {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}
.INFOBOX {
  height: 300px;
  width: 50%;
  background-color: white;
 border-radius: 10px;
  position: relative;
  margin-top: -27%;
  margin-left: 5%;
  
}
.INFOBOX h4 {
 
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-left: 15%;
  padding-top: 5%;
}
.INFOBOX p
{
    position: relative;
    margin-top: 3%;
    text-align: center;

}
.INFOBOX a
{
    text-decoration: none;
    color: white;
}
.INFOBOX a button
{
    background-color:#243045;
    color: white;
    outline: none;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 160px;
    margin-left: 38%;
}
.slider-Conatiner
{
    
    height: 300px;
    width: 100%;
    margin-top: 21%;
    display: flex;
}
.slider-Conatiner .BESTsellers{
    height: 200px;
    width: 30%;
    background-color: white;
    top: 20%;
    position: relative;
}
.slider-Conatiner .BESTsellers button
{
    margin-left: 28%;
    margin-top: 3%;
    background-color: #243045;
    color: white;
    height: 50px;
    width: 180px;
}
.carousel {
      width: 300px;
      overflow: hidden;
      position: relative;
      width: 70%;
      margin-left: 28%;
      margin-top: -20%;
    }
    .carousel-images {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    .carousel-images img {
      width: 300px;
    }
    .buttons {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
    }
    .buttons button {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
.r1
{
    height: 500px;
    width: 450px;
    background-color: gray;
}
.reviewSECtion
{
    width: 100%;
    display: inline
}

.stars {
  font-size: 1.5rem;
  color: gold;
  letter-spacing: 3px;
}
.review-card {
  border-radius: 8px;
  background-color: #f8f9fa;
}
.btn-link {
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline;
}
.col a
{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.col img{
    transition: 0.5s;
}
.col img:hover
{
    scale: 102%;
}
.carsol{
    width: 90%;
    margin: auto;
}
.INFBOX{
    height: 450px;
    width: 50%;
    background-color: white;
    position: relative;
    margin-left: 40%;
    margin-top: -35%;
}
.INFBOX button
{
    position: relative;
    top: 40%;
    height: 50px;
    width: 250px;
    left: 33%;
    outline: none;
    border-radius: 5px;
    background-color: #243045;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  #reviewCarousel .card {
    margin-bottom: 20px;
  }
  #reviewCarousel .card-img-top {
    height: 200px !important;
  }
}
